* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dog {
  border-style: solid;
  border-width: 5px;
  border-color: #048eaa;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 30px;
}

#section1 {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/park.jpeg);
  background-size: cover;
  border-style: solid;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

#section2 {
  text-align: center;
  column-count: 3;
  border-style: solid;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

article {
  float: left;
  margin: 0px;
  align-content: center;
  text-align: center;
  width: 30% auto;
  padding: 20px;
  margin-right: 10px;
}

.text {
  width: 100%;
  height: 200px;
}

.update {
  font-weight: bolder;
}

h1{
  color: #ffffff;
  font-weight: normal;
  font-size: 30px;
  padding-top: 20px;
}

section {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100% auto;
  margin: 0px;
  padding: 0px;
}

h4 {
  display: inline;
  float: right;
  margin: 20px;
}

.icon {
  display: inline;
  width: 50px;
  height: 50px;
  padding: 10px;
}

header {
  background-color: #75e2e6;
  border-bottom: 3px solid #048eaa;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

#headerIcon {
  float: left;
  margin: 10px;
  width: 5%;
  height: 5%;
}

.word {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  background-color: #048eaa;
  padding: 15px 150px;
  margin: 10px;
  margin-bottom: 20px;
}

.buttons {
  text-align: center;
}

footer {
  background-color: #048eaa;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.footer {
  padding: 10px;
  font-size: 20px;
}

.submitText {
  color: #000000;
  background-color: #75e2e6;
  margin: 10px;
  width: 300px;
  height: 30px;
  font-size: 18px;
}

#inputText {
  width: 300px;
  height: 30px;
  margin: 10px;
}

label {
  color: #ffffff;
  position: relative;
  right: 130px;
}

.disappear {
  visibility: hidden;
}

@media (max-width: 1020px) {
  #section2 {
    column-count: 1;
  }
  .word {
    display: block;
    margin: auto;
  }
  #factsButton {
    margin-bottom: 40px;
  }
}

@media (max-width: 475px) {
  h4 {
    font-size: 50%;
    margin: 20px 10px;
  }
  article {
    width: 100%;
    margin-bottom: 40px;
  }
  #article2 {
    margin-bottom: 100px;
  }
}
